@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,500,700,300,100);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@import "table";
@import "navbar";
@import "sales/index";
@import "kaminari";

body {
  background-color: #fafffc;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
}

footer {
  padding: 10px;
  background-color: #333333;

  h6 {
    color: #FFF;
  }
}

@media (max-width: 992px) {
    .text-center-sm {
        text-align: center;
    }
}

.main-container {
  padding-bottom: 20px;
}

.text-center {
   text-align:center
}

.btn-primary {
    color: #cccccc;
    background-color: #1b1e24;
    border-color: #1b1e24;
}

.btn-primary:hover {
    color: #fff;
    background-color: #43464a;
    border-color: #43464a;
}
