.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {

    background-color: #1b1e24;
    border-color: #1b1e24
}

.pagination > li > a, .pagination > li > span {
  color: #1b1e24
}
