.logo {
  font-family: "PT Sans Caption", helvetica, arial, sans-serif;
  color: #a2fa73;
  font-size: 23px;
}
.logo-csv {
  font-size: 29px;
  font-weight: bolder;
}

.header {
  background: #333333;
  /* remove the gradient */
  background-image: none;
  border-bottom:2px solid #a2fa73;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 8px 8px -6px rgba(0,0,0, .2);
  margin-bottom: 0px;
}
