<section class="jumbotron main-header">
  <div class="container">

    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="button">Selecionar...</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

  </div>
</section>

<section class="container">
  <div class="col-sm-12 col-md-6">
    <h1 class="text-center-sm">Produtos Vendidos</h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="pull-right price">Total <span class="currency">R$ 521,35</span></h1>
  </div>

  <div class="col-sm-12">
  <div class="table-responsive">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Comprador</th>
          <th class="text-left">Descrição</th>
          <th class="text-left">Preço Uniário</th>
          <th class="text-left">Quantidade</th>
          <th class="text-left">Endereço</th>
          <th class="text-left">Fornecedor</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr>
          <td class="text-left">João Silva</td>
          <td class="text-left">R$10 off R$20 of food</td>
          <td class="text-left">10.0</td>
          <td class="text-left">2</td>
          <td class="text-left">987 Fake St</td>
          <td class="text-left">Bob's Pizza</td>
        </tr>
        <tr>
          <td class="text-left">Amy Pond</td>
          <td class="text-left">R$30 of awesome for R$10</td>
          <td class="text-left">10.0</td>
          <td class="text-left">5</td>
          <td class="text-left">456 Unreal Rd</td>
          <td class="text-left">Tom's Awesome Shop</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</section>
